# macOS system files
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
# Xcode user data
SaveEarth/SaveEarth.xcodeproj/xcuserdata/marco.xcuserdatad/xcschemes/xcschememanagement.plist
SaveEarth/SaveEarth.xcodeproj/project.xcworkspace/xcuserdata/marco.xcuserdatad/UserInterfaceState.xcuserstate

# Fastlane private API token
SaveEarth/fastlane/gitPAT.txt
.DS_Store
